@media (max-width: 45rem) {
  :root {
    --font-size-xsmall: 0.625rem;
    --font-size-small: 0.75rem;
    --font-size-normal: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-header-2: 1.7rem;
    --font-size-header-1: 2rem;

    --max-width: 38rem;
  }

  .inner-container {
    margin: var(--spacing-large);
  }
}

@media (max-width: 38rem) {
  :root {
    --font-size-xsmall: 0.5rem;
    --font-size-small: 0.625rem;
    --font-size-normal: 0.75rem;
    --font-size-medium: 0.875rem;
    --font-size-large: 1rem;
    --font-size-header-2: 1.45rem;
    --font-size-header-1: 1.8rem;

    --max-width: 34rem;
  }

  .inner-container {
    margin: var(--spacing-normal);
  }
}

@media (max-width: 34rem) {
  :root {
    --font-size-xsmall: 0.45rem;
    --font-size-small: 0.55rem;
    --font-size-normal: 0.675rem;
    --font-size-medium: 0.8rem;
    --font-size-large: 1.05rem;
    --font-size-header-2: 1.3rem;
    --font-size-header-1: 1.6rem;

    --max-width: 31rem;
  }

  .inner-container {
    margin: var(--spacing-normal);
  }
}

@media (max-width: 31rem) {
  :root {
    --font-size-xsmall: 0.4rem;
    --font-size-small: 0.5rem;
    --font-size-normal: 0.625rem;
    --font-size-medium: 0.75rem;
    --font-size-large: 1rem;
    --font-size-header-2: 1.25rem;
    --font-size-header-1: 1.5rem;

    --max-width: 28rem;
  }

  .inner-container {
    margin: var(--spacing-normal);
  }
}

@media (max-width: 27rem) {
  :root {
    --font-size-xsmall: 0.375rem;
    --font-size-small: 0.475rem;
    --font-size-normal: 0.6rem;
    --font-size-medium: 0.725rem;
    --font-size-large: 0.975rem;
    --font-size-header-2: 1.15rem;
    --font-size-header-1: 1.4rem;

    --max-width: 25rem;
  }

  .inner-container {
    margin: var(--spacing-small);
  }
}
